body, html {
    background-color: rgb(77, 77, 77);
}

body {
    padding: 25px;
}

.regexGroup {
    padding: 15px;
}

.btn {
    color: white;
}

.lbl-white {
    color: white;
    padding: 15px
}

.group {
    padding: 15px;
    margin: 15px;
    background-color: rgb(56, 56, 56);
}

.selections {
    padding: 15px;
    /* margin: 15px */
}

.options {
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr 1fr;
}

.regexGroupArea {
    display: inline-block;
    background-color: white;
    width: 100%;
    min-height: 250px;
}

.dragging {
    background-color: green;
    opacity: 0.5;
}

.dropped {
    color: black;
}

.beginString {
    font-size: large;
}

.customRange {
    display: flex;
    font-size: xxx-large;
    text-align: center;
}

.customRangeInput {
    color: black;
}

.numberLimit {
    display: flex;
    font-size: xxx-large;
    text-align: center;
}

.numberLimitInput {
    color: black;
}

.selectContainer{
    width: 200%;
}

.selectLabel {
    color: white;
}

.groupSelect {

}